@import url('https://fonts.googleapis.com/css?family=Orbitron');
body{
	margin: 0;
	background: #e4e3e3;
}
header{
	width: 100%;
	background: #17171c;
	background: -o-linear-gradient(#17171c 0%, #3741ae 100%);
	background: -webkit-linear-gradient(#17171c 0%, #3741ae 100%);
	background: -moz-linear-gradient(#17171c 0%, #3741ae 100%);
	background: linear-gradient(#17171c 0%, #3741ae 100%);
}
header>h2{
	display: inline-block;
	color: #ffffff;
	margin-left: 2%;
	padding: 0;
	font-size: 170%;
	text-transform: uppercase;
}
header button{
	display: inline-block;
	background: #b3b3b3;
	margin-top: 1.5%;
	color: #ffffff;
	margin-right: 1.2%;
	float: right;
}
nav a{
	text-decoration: none;
	background: #ffffff;
	color: #000000;
	width: 11%;
	height: 40%;
	text-align: center;
	display: inline-block;
	margin: 2%;
	padding: 1% 0.7%;
	border-radius: 8%;
}
nav a:hover{
	color: #4c2cd0;
	background: #d3eef9;
}
nav a:active{
	background: #b3b3b3;
	color: #4c2cd0;
}
nav i{
	padding-right: 5%;
	color: #30ce94;
	display: block;
}
div{
	width: 30%;
	margin: 2% 7% 2% 5%;
}
footer{
	width: 100%;
	background: #ffffff;
	padding-bottom: 0.5%;
}
footer p:last-child{
	display: inline-block;
	float: right;
	padding-right: 3%;
	padding-top: 2%;
	width: 17%;
}
footer div{
	display: inline-block;
	margin-left: 3%;
	margin-top: 0;
	width: 23%;
}
#clock{
	font-family: 'Orbitron', sans-serif;
	color: #ec2809;
	font-size: 240%;
	text-align: center;
	width: 24%;

}
footer a{
	margin-right: 4%;
}
footer a:first-child{
	text-align: center;
	display: block;
	padding-top: 0.5%;
	padding-bottom: 0;
	margin-bottom: 0;
	margin-right: 4%;
	text-decoration: none;
}


